/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Ketik code Anda dibawah */
header{
  width: 100%;
  height: 65px;
  background:rgba(34,49,52,0.9);
  top: 0px;
  z-index:10;
  position:fixed;
}

.header-left {
  float:left;
}

.logo {
  width:124px;
  margin-top:20px;
}

.header-right{
  float:right;
  color:white;
  transition: all 0.5s;
  cursor:pointer;
}

.login {
  line-height: 65px;
  padding:0 25px;
  background-color:rgba(255,255,255,0.3);
  display:block;
}

.login:hover{
  background-color:rgba(255,255,255,0.5);
}

.content {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.top-wrapper h1 {
  font-size:45px;
  opacity:0.7;
  letter-spacing:5px;
  margin-bottom:10px;
}

.top-wrapper p {
   opacity: 0.7;
   margin-bottom: 3px;
}

.btn {
opacity:0.8;
padding:12px 24px;
color:white;
display:inline-block;
border-radius:4px;

}

.btn:hover{
  opacity:1;
}

.signup{
background-color:#239b76;
}

.facebook{
  background-color:#3b5998;
  margin-right:10px;
}

.twitter{
  background-color:#55acee;
}

.fa {
  margin-right:5px;
}

.button {
  margin:20px 0;
}

.button p{
 margin:10px 0;
}

.heading {
 padding-top: 60px;
 padding-bottom: 30px;
 color:#5f5d60;
}

.heading h2{
  font-weight:normal;
}

.lesson-wrapper{
  background-color: #f7f7f7;
  height:500px;
  padding-bottom: 80px;
  text-align:center;
  
}
.lesson h2{
  font-weight:normal;
}

.content-list{
  float:left;
  width:25%;
}

.icon p{
  position: absolute;
  width:100%;
  top:90px;
  color:white;
}

.txt-content {
  color: #b3aeb5;
  margin-top: 20px;
  font-size: 15px;
  width: 80%;
  display: inline-block;
}

.icon {
  position:relative;
}

.heading h2 {
  font-weight:normal;

}
.heading h3 {
  font-weight:normal;
}

.message-wrapper{
  margin-bottom:80px;
  text-align:center;
}
.message{
  padding:15px 40px;
  background-color:#5dca88;
  box-shadow:0 7px #1a7940;
  cursor:pointer;
}
.message:active{
  position:relative;
  top:7px;
  box-shadow:none;
}

footer p{
  font-size:12px;
  color:#b3aeb5;
}

footer{
  padding-top:30px;
  float:left;
}

footer .img {
  width:124px;
}
